@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.header-logo {
  height: 120px;
  width: 120px;
}

.header-logo-name {
  position: absolute;
  top: 31%;
  left: 15%;
  font-weight: bold;
}

.items-list {
  border: 1px solid;
  border-radius: 12px;
  width: 100%;
}

.product-headers, .products-summary {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.form-section {
 width: 100%;
}

form {
  display: flex;
  justify-content: space-around;
}

.add-product-section {
  display: flex;
  justify-content: center;
}
